.navBar-logo{
    height: 50px;
}
.shopping-cart{
    height: 30px;
}
.h1-color{
    color: orange;
}
.h1-coolor{
    color: darkblue;
}
.dollar-color{
    color: goldenrod;
}
.card-border{
    border: 0px;
}
